section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 992px) {
  section {
    flex-direction: column-reverse;
    align-items: center;
  }
  
  section .content {
    width: 100%;
    margin-left: 0;
  }
}

img {
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  height: fit-content;
  object-fit: contain
}

img:hover {
    box-shadow: var(--shadow-hover);
  }

.content {
  display: block;
  width: 50%;
  margin-left: 2rem;
}

p {
    font-size: var(--font-md);
    line-height: 1.8;
    color: var(--color-card-text);
    color: light-dark(var(--color-card-text), var(--color-card-text-dark));
    margin-bottom: 1.5rem;
  }
  
  p:first-child {
    font-size: var(--font-xxl);
    font-weight: 500;
    color: var(--color-nav-text);
    color: light-dark(var(--color-nav-text), var(--color-nav-text-dark));
    margin-bottom: 1rem;
  }