section {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 992px) {
  section {
    flex-direction: column-reverse;
    align-items: center;
  }
  
  section .content {
    width: 100%;
    margin-left: 0;
  }
}

img {
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  height: auto;
  object-fit: contain
}

img:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  }

.content {
  display: block;
  width: 50%;
  margin-left: 2rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  p:first-child {
    font-size: 2.5rem;
    font-weight: 500;
    color: #001529;
    margin-bottom: 1rem;
  }