:host {
  display: flex;
}

.app-layout {
  min-height: 100vh;
  max-height: fit-content;
}

nz-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #001529;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  gap: 2rem;
}

.top-nav {
  line-height: 64px;
  display: flex;
  margin: 0;
  padding: 0;
  user-select: none;
}

.logo {
  height: 64px;
  line-height: 64px;
  display: flex;
  align-items: center;
}

.logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.logo h1 {
  display: inline-block;
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
  user-select: none;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

nz-content {
  margin-top: 64px;
  padding: 24px 50px;
}

.inner-content {
  padding: 2rem;
  max-width: 80vw;
  margin: 0 auto;
  background: #fff;
  height: fit-content;
}
