:host {
  display: flex;
}

.app-layout {
  min-height: calc(100vh - 74px);
  max-height: 100vh;
}

nz-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #001529;
  position: sticky;
  width: 100%;
  z-index: 10;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  gap: 0.5rem;
}

.top-nav {
  line-height: 64px;
  display: flex;
  margin: 0;
  padding: 0;
  user-select: none;
}

.logo {
  height: 64px;
  line-height: 64px;
  display: flex;
  align-items: center;
}

.logo img {
  display: inline-block;
  height: 64px;
  width: 64px;
  vertical-align: middle;
}

.logo h1 {
  display: inline-block;
  margin: 0;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
  user-select: none;
}

.logo a {
  text-decoration: none;
  color: inherit;
}

nz-content {
    scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
}

.inner-content {
  padding: 2rem;
  max-width: 80vw;
  margin: 0 auto;
  background: #fff;
  height: fit-content;

}

.inner-content div {
  padding-top: 5vw;
  padding-bottom: 1vw;
}

#about-me-section {
  scroll-snap-align: start;
}

#experience-section {
  scroll-snap-align: center;
}

#contact-section {
  scroll-snap-align: end;
}